<!DOCTYPE html>
<html>
  <head>
    <title>About | Sample App</title>
  </head>
  <body>
    <h1>Sample App</h1>
    <p>
      This is the About page for my sample application.
    </p>
  </body>
</html>